/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  gap: calc(20px + var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)));
  background: var(--bg-color,#000028) var(--bg-url,url(../images/cover-image-dark.png)) no-repeat fixed center / cover;
  font-family: var(--main-font,'IBM Plex mono'), monospace;
  font-size: var(--font-size-normal,18px);
  line-height: var(--line-height-normal,130%);
  color: var(--main-text-color,#F1B2CE);
 }

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decor-color,#FF0070);
  border-block-start: 1px solid var(--decor-color,#FF0070);
  inset-inline-end: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  inset-block-start: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decor-color,#FF0070);
  border-block-end: 1px solid var(--decor-color,#FF0070);
  inset-inline-start: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  inset-block-end: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
}


.header__decoration {
  display: flex;
  position: absolute;
  inset-inline-end: calc(10px + var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)));
  inset-block-start: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  align-items: center;
  gap: 10px;
  visibility: var(--decoration-visibility, visible);
}

.header__decoration::before {
  content: "REC";
  color: var(--accent-color,#FF0070);
}

.header__decoration::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color,#FF0070);
  box-shadow: 0 0 5px 2px var(--accent-color,#FF0070);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  margin-block-start:-2px ;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__theme-menu-button {
  vertical-align: middle;
  border: none;
  padding: 2px 13px;
  font-size: inherit;
  line-height: 1em;
  color: var(--decor-color, #ff0070);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  line-height: 1.3em;
}

.header__theme-menu-button:hover {
  outline: 1px solid  var(--hover-color,rgba(255,0,112,0.6));
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--header__title-color, #DB00FF);
  font-size: var(--font-size-big, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color,#ff0070);
  line-height: 82.5%;
}

.title {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  color: var(--title-color,#000028);
}

.title-decor {
  background-color: var(--accent-color,#ff0070);
}

.intro {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  color: var(--decor-color,#ff0070);
}

.content_section {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding,clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  gap: var(--section-gap,clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem));
}

.main__content-why {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__content-what {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content-how {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paragraph-text {
  font-size: inherit;
  line-height: inherit;
}

.text-link {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color,#FF0070);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid  currentColor;
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.paragraph-title {
  margin-block-start: 10px;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  color: var(--title-color,#000028);
}

.paragraph-title:first-child {
  margin-block-start: 0;
}

.main__content-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.image {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer_title {
  justify-self: center;
  font-size: var(--font-size-big, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: bold;
  line-height: 82.5%;
  color: var(--header__title-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color,#FF0070);
}

@media (768px <= width < 1024px) {
  .header__title {
    margin-inline-start: -20px;
  }

  .title:not(:first-child) {
    justify-self: end;
    inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }
   
  .main__content-why {
    display: grid;
    grid-template-columns: 236px auto;
  }
  
  .main__content_text {
    grid-column-start: 2;
  }

  .main__content-what .intro {
    inline-size: clamp(11.25rem, -14.0625rem + 52.7344vw, 19.6875rem);
  }

  .main__content-how {
    display: grid;
    grid-template-columns: 236px auto;
  }

  .main__content-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__content-gallery .title {
    grid-column-start: span 3;
  }

  .picture-wrapper:first-of-type {
    grid-column-start: span 2;
  }

  .picture-wrapper:last-of-type {
    grid-column-start: span 2;
  }

  .picture-wrapper:nth-of-type(2) {
    grid-row-start: span 2;
  }

  .picture-wrapper:nth-of-type(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 13px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .title:not(:first-child) {
    justify-self: end;
    inline-size: 491px;
  }

  .main__content-why {
    display: grid;
    grid-template-columns: 315px auto;
  }

  .main__content_text {
    grid-column-start: 2;
  }

  .main__content-what {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .main__content-what .main__content_text:first-of-type {
    grid-column-start: 1;
  }

.main__content-what .main__content_text:last-of-type {
    grid-column-start: 3;
  }

  .main__content-how {
    display: grid;
    grid-template-columns: 315px auto;
  }

  .main__content-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__content-gallery .title {
    grid-column-start: span 3;
  }

  .picture-wrapper:first-of-type {
    grid-column-start: span 2;
  }

  .picture-wrapper:last-of-type {
    grid-column-start: span 2;
  }

  .picture-wrapper:nth-of-type(2) {
    grid-row-start: span 2;
  }

  .picture-wrapper:nth-of-type(3) {
    grid-row-start: span 2;
  }
}